html {
    background: linear-gradient(#fff, #ffdaef);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

button {
    background: #ff91cf;
    color: #fff;
    cursor: pointer;
}

.title{
    text-align: center;
}

.title_1{
    margin: 0 auto;
    text-align: left;
    margin-left: 10px;
}

.voting{
    text-align: center;
}

.votingBtn{
    width: 10em;
    height:2em;
    font-size: 46px;
}

/* .copyButton{
    width: 10em;
    height:3em;
    font-size: 18px;
    background: #ff91cf;
    color: #000;
} */

.updateHistory{
    margin: 0 auto;
    text-align: left;
    margin-left: 70px;
    font-size: medium;
}

.mvLinkForm{
    font-size: 25px;
}

/* PC */
@media screen and (min-width: 1024px) {
    body { 
        width: 500px;
        margin-top: 40px;
        margin-left: 70px;
        font-family: sans-serif;
    }
    
    .title_1{
        margin-left: 10px;
    }
    
    .songList{
        font-size: 25px;
        width: 300px;
        /* float: left; */
        /* margin-left: 20px; */
    }

    .songSelect{
        /* margin-right: 190px; */
    }
    
    .attention{
        text-align: left;
    }
    
}

/* LPC */
@media screen and (min-width: 1550px) {
    .move{
        position: fixed;
        top: 12%;
        left: 37%;
        width: 60%;
    }
    
    .moveFrame{
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
    }    
}

/* MPC */
@media screen and (1280px <= width <= 1549px) {
    .move{
        position: fixed;
        top: 12%;
        right: 2%;
        width: 53%;
    }

    .moveFrame{
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
    }
}

/* SPC */
@media screen and (1024px <= width <= 1279px) {
    .move{
        position: fixed;
        top: 12%;
        right: 2%;
        width: 42%;
    }

    .moveFrame{
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
    }
}

/* mobile */
@media screen and (max-width: 1023px) {
    body { 
        width: 80%;
        margin: 20px auto;
        font-family: sans-serif;
    }

    .title_1{
        margin-left: 150px;
    }

    .move{
        width: 100%;
        margin: 0 auto;
    }

    .moveFrame{
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
    }
        
    .songList{
        font-size: 25px;
        width: 300px;
        /* float: left; */
        /* margin-left: 162px; */
    }

    .songSelect{
        /* margin-right: 130px; */
    }

    .attention{
        text-align: left;
        margin-left: 130px;
    }
}