html {
    background: linear-gradient(#fff, #ffdaef);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body { 
    width: 80%;
    margin-top: 40px;
    margin-left: 50px;
    font-family: sans-serif;
}